@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header class="masthead">
    <div class="container" s>
        <div class="intro-text">
            <div class="intro-lead-in" style="color:coral">Welcome To Food Item's Rating </div>
            <div class="intro-heading text-uppercase" style="color:coral">Rate Food Item's as per Taste Prefrence </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/Ratings">View Ratings</a>
        </div>
    </div>
</header>
